{
    "presets": [
        "@babel/env",
        "@babel/react",
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["react-css-modules", {
        "generateScopedName": "[name]__[local]___[hash:base64:5]"
        }],
    ]
}
